.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>p {
    color: #373737;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    font-family: 'Montserrat', sans-serif !important;

}

.buttonWrapper {
    display: flex;
    gap: 20px;
}

.rdrDefinedRangesWrapper {
    display: none;
}

.mFilterWrapper {
    display: none !important;
}

.TableWrapper {
    margin: 40px 0;
}

.rdrDateDisplayWrapper {
    display: none !important;
}

.CalendarWrapper {
    width: 300px;
}

.DataPickerDiv {
    position: absolute;
    z-index: 999;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}