.header>p {
    color: #373737;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.ReviewWrapper {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.ReviewsPageButtonWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}